In [21]:
import glob
import codecs
from tqdm.notebook import tqdm

In [8]:
f_list = glob.glob('book-dummy/text_*')

In [11]:
documents = []
for f in f_list:
    with codecs.open(f, mode='r', encoding='utf-8') as rf:
        docs = rf.read()
    documents.append(docs.split('\n'))

In [12]:
len(documents)

10

In [13]:
train_docs = documents[:8]
valid_docs = documents[8]
test_docs = documents[9]

In [28]:
train_docs = [[sent.lstrip("\'").rstrip("\'").replace('"', '').replace("`", '') for sent in doc] for doc in tqdm(train_docs)]

HBox(children=(FloatProgress(value=0.0, max=8.0), HTML(value='')))

In [36]:
paragraphs = []
paragraph = []
for doc in tqdm(train_docs):
    for idx, l in enumerate(doc):
        if (len(paragraph) + 1) % 20 == 0:
            paragraph.append(l)
            paragraphs.append(paragraph)
            paragraph = []
        else:
            paragraph.append(l)

HBox(children=(FloatProgress(value=0.0, max=8.0), HTML(value='')))

In [42]:
train_meta = []
train_seg_list = []
for idx, para in enumerate(paragraphs):
    para_id = 'book-{:06d}'.format(idx)
    split = 'train'
    train_meta.append([para_id, split])
    for k, sent in enumerate(para):
        seg_id = para_id + '-{:04d}'.format(k)
        seg = sent
        train_seg_list.append([seg_id, seg])

In [46]:
import pandas as pd

In [47]:
train_meta_df = pd.DataFrame(train_meta)

In [48]:
train_seg_df = pd.DataFrame(train_seg_list)

In [51]:
train_meta_df.columns = ['paragraph_id', 'type']

In [52]:
train_seg_df.columns = ['UID', 'SEG']

In [53]:
train_seg_df

                     UID                                                SEG
0       book-000000-0000                did they forget about us or what ?
1       book-000000-0001   probably got sidetracked by the bright lights...
2       book-000000-0002       joel looked at me , his mouth hanging open .
3       book-000000-0003  he apparently had n't expected that zinger , b...
4       book-000000-0004                                           sorry .
...                  ...                                                ...
159995  book-007999-0015                             something like that .
159996  book-007999-0016                          does anybody have food ?
159997  book-007999-0017                i ask , leaning back on my elbows .
159998  book-007999-0018  i squint my eyes against the sun as i look ove...
159999  book-007999-0019  his face is still pale , and i know he must be...

[160000 rows x 2 columns]

In [57]:
valid_paragraphs = []
valid_paragraph = []
for doc in tqdm([valid_docs]):
    for idx, l in enumerate(doc):
        if (len(valid_paragraph) + 1) % 20 == 0:
            valid_paragraph.append(l)
            valid_paragraphs.append(valid_paragraph)
            valid_paragraph = []
        else:
            valid_paragraph.append(l)

HBox(children=(FloatProgress(value=0.0, max=1.0), HTML(value='')))

In [61]:
valid_meta = []
valid_seg_list = []
for idx, para in enumerate(valid_paragraphs):
    para_id = 'book-{:06d}'.format(idx+len(train_meta_df))
    split = 'valid'
    valid_meta.append([para_id, split])
    for k, sent in enumerate(para):
        seg_id = para_id + '-{:04d}'.format(k)
        seg = sent
        valid_seg_list.append([seg_id, seg])

In [64]:
for item in valid_meta:
    train_meta_df.loc[len(train_meta_df)] = item

In [66]:
for item in tqdm(valid_seg_list):
    train_seg_df.loc[len(train_seg_df)] = item

In [67]:
test_paragraphs = []
test_paragraph = []
for doc in tqdm([test_docs]):
    for idx, l in enumerate(doc):
        if (len(test_paragraph) + 1) % 20 == 0:
            test_paragraph.append(l)
            test_paragraphs.append(test_paragraph)
            test_paragraph = []
        else:
            test_paragraph.append(l)

HBox(children=(FloatProgress(value=0.0, max=1.0), HTML(value='')))

In [68]:
test_meta = []
test_seg_list = []
for idx, para in enumerate(test_paragraphs):
    para_id = 'book-{:06d}'.format(idx+len(train_meta_df))
    split = 'test'
    test_meta.append([para_id, split])
    for k, sent in enumerate(para):
        seg_id = para_id + '-{:04d}'.format(k)
        seg = sent
        test_seg_list.append([seg_id, seg])

In [69]:
for item in test_meta:
    train_meta_df.loc[len(train_meta_df)] = item

In [70]:
for item in tqdm(test_seg_list):
    train_seg_df.loc[len(train_seg_df)] = item

HBox(children=(FloatProgress(value=0.0, max=20000.0), HTML(value='')))

In [71]:
train_seg_df

                     UID                                                SEG
0       book-000000-0000                did they forget about us or what ?
1       book-000000-0001   probably got sidetracked by the bright lights...
2       book-000000-0002       joel looked at me , his mouth hanging open .
3       book-000000-0003  he apparently had n't expected that zinger , b...
4       book-000000-0004                                           sorry .
...                  ...                                                ...
199995  book-009999-0015  she stopped breathing for a few seconds when s...
199996  book-009999-0016                it was her driver license picture .
199997  book-009999-0017  her heartbeat roared in her ears as she paged ...
199998  book-009999-0018  each of their dmv photos was there , printed i...
199999  book-009999-0019  a couple other papers were with them , one of ...

[200000 rows x 2 columns]

In [72]:
train_meta_df

     paragraph_id   type
0     book-000000  train
1     book-000001  train
2     book-000002  train
3     book-000003  train
4     book-000004  train
...           ...    ...
9995  book-009995   test
9996  book-009996   test
9997  book-009997   test
9998  book-009998   test
9999  book-009999   test

[10000 rows x 2 columns]

In [74]:
train_meta_df.to_csv("book_meta.csv", index=None)

In [75]:
train_seg_df.to_csv("book_main.csv", index=None)