In [1]:
import glob
import codecs
import pandas as pd
from tqdm.notebook import tqdm

In [6]:
f_list = glob.glob('data/book-dummy/text_*')

In [7]:
documents = []
for f in f_list:
    with codecs.open(f, mode='r', encoding='utf-8') as rf:
        docs = rf.read()
    documents.append(docs.split('\n'))

In [8]:
len(documents)

10

In [9]:
train_docs = documents[:8]
valid_docs = documents[8]
test_docs = documents[9]

In [10]:
train_docs = [[sent.lstrip("\'").rstrip("\'").replace('"', '').replace("`", '') for sent in doc] for doc in tqdm(train_docs)]

HBox(children=(FloatProgress(value=0.0, max=8.0), HTML(value='')))

In [11]:
paragraphs = []
paragraph = []
for doc in tqdm(train_docs):
    for idx, l in enumerate(doc):
        if (len(paragraph) + 1) % 20 == 0:
            paragraph.append(l)
            paragraphs.append(paragraph)
            paragraph = []
        else:
            paragraph.append(l)

HBox(children=(FloatProgress(value=0.0, max=8.0), HTML(value='')))

In [13]:
train_meta = []
train_seg_list = []
for idx, para in enumerate(paragraphs):
    para_id = 'book-{:06d}'.format(idx)
    split = 'train'
    train_meta.append([para_id, split])
    for k, sent in enumerate(para):
        seg_id = para_id + '-{:04d}'.format(k)
        seg = sent
        train_seg_list.append([seg_id, seg])

In [15]:
train_meta_df = pd.DataFrame(train_meta)

In [16]:
train_seg_df = pd.DataFrame(train_seg_list)

In [17]:
train_meta_df.columns = ['paragraph_id', 'type']

In [18]:
train_seg_df.columns = ['UID', 'SEG']

In [26]:
train_seg_df

                  UID                                                SEG
0    book-000000-0000                did they forget about us or what ?
1    book-000000-0001   probably got sidetracked by the bright lights...
2    book-000000-0002       joel looked at me , his mouth hanging open .
3    book-000000-0003  he apparently had n't expected that zinger , b...
4    book-000000-0004                                           sorry .
..                ...                                                ...
195  book-000009-0015              i picked up the binoculars to watch .
196  book-000009-0016  her thick brown hair bounced off her shoulders...
197  book-000009-0017  she crossed to aiden 's car and leaned in the ...
198  book-000009-0018  she laughed , glancing around the parking lot ...
199  book-000009-0019                              and then she got in .

[200 rows x 2 columns]

In [27]:
valid_paragraphs = []
valid_paragraph = []
for doc in tqdm([valid_docs]):
    for idx, l in enumerate(doc):
        if (len(valid_paragraph) + 1) % 20 == 0:
            valid_paragraph.append(l)
            valid_paragraphs.append(valid_paragraph)
            valid_paragraph = []
        else:
            valid_paragraph.append(l)

HBox(children=(FloatProgress(value=0.0, max=1.0), HTML(value='')))

In [28]:
valid_meta = []
valid_seg_list = []
for idx, para in enumerate(valid_paragraphs):
    para_id = 'book-{:06d}'.format(idx+len(train_meta_df))
    split = 'valid'
    valid_meta.append([para_id, split])
    for k, sent in enumerate(para):
        seg_id = para_id + '-{:04d}'.format(k)
        seg = sent
        valid_seg_list.append([seg_id, seg])

In [29]:
for item in valid_meta:
    train_meta_df.loc[len(train_meta_df)] = item

In [30]:
for item in tqdm(valid_seg_list):
    train_seg_df.loc[len(train_seg_df)] = item

HBox(children=(FloatProgress(value=0.0), HTML(value='')))

In [31]:
test_paragraphs = []
test_paragraph = []
for doc in tqdm([test_docs]):
    for idx, l in enumerate(doc):
        if (len(test_paragraph) + 1) % 20 == 0:
            test_paragraph.append(l)
            test_paragraphs.append(test_paragraph)
            test_paragraph = []
        else:
            test_paragraph.append(l)

HBox(children=(FloatProgress(value=0.0, max=1.0), HTML(value='')))

In [32]:
test_meta = []
test_seg_list = []
for idx, para in enumerate(test_paragraphs):
    para_id = 'book-{:06d}'.format(idx+len(train_meta_df))
    split = 'test'
    test_meta.append([para_id, split])
    for k, sent in enumerate(para):
        seg_id = para_id + '-{:04d}'.format(k)
        seg = sent
        test_seg_list.append([seg_id, seg])

In [33]:
for item in test_meta:
    train_meta_df.loc[len(train_meta_df)] = item

In [34]:
for item in tqdm(test_seg_list):
    train_seg_df.loc[len(train_seg_df)] = item

HBox(children=(FloatProgress(value=0.0), HTML(value='')))

In [35]:
train_seg_df

                  UID                                                SEG
0    book-000000-0000                did they forget about us or what ?
1    book-000000-0001   probably got sidetracked by the bright lights...
2    book-000000-0002       joel looked at me , his mouth hanging open .
3    book-000000-0003  he apparently had n't expected that zinger , b...
4    book-000000-0004                                           sorry .
..                ...                                                ...
395  book-000019-0015  `` very well , then , '' i said , trying to su...
396  book-000019-0016  `` i 'll return as soon as i 've made the arra...
397  book-000019-0017  i was just signing the last of the papers to r...
398  book-000019-0018  `` what brings you to scotland yard , miss hol...
399  book-000019-0019    i managed to keep my handwriting from jolting .

[400 rows x 2 columns]

In [36]:
train_meta_df

   paragraph_id   type
0   book-000000  train
1   book-000001  train
2   book-000002  train
3   book-000003  train
4   book-000004  train
5   book-000005  train
6   book-000006  train
7   book-000007  train
8   book-000008  train
9   book-000009  train
10  book-000010  valid
11  book-000011  valid
12  book-000012  valid
13  book-000013  valid
14  book-000014  valid
15  book-000015   test
16  book-000016   test
17  book-000017   test
18  book-000018   test
19  book-000019   test

In [37]:
train_meta_df.to_csv("data/book/book_dummy_meta.csv", index=None)

In [38]:
train_seg_df.to_csv("data/book/book_dummy_main.csv", index=None)